using Framework.Common;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using ESchool.Data.Entities;
namespace $config.ServiceNameSpace$
{
    public interface I$item.TableName$Service : IBaseService<$item.TableName$, $config.DBContext$>
    {
        
    }
}
