<div class="ibox ">
    <div class="ibox-title">
      <h5>Tỉnh</h5>
      <div class="ibox-tools">

      </div>
    </div>

    <div class="ibox-content inspinia-timeline">
      <div class="row search-box">
        <div class="col-sm-3">
              <input placeholder="Search" type="text" class="form-control form-control-sm">
        </div>
        <div class="col-sm-3">
              <button type="button" class="btn btn-sm btn-primary" (click)="onSearch()"><i class="fas fa-search"></i> Search</button>
        </div>
        <div class="col-sm-4 m-b-xs">
          <div class="html5buttons">
            <div class="dt-buttons btn-group">
              <button class="btn btn-primary buttons-copy buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" href="javascript:void(0)" (click)="openModal()" ><span>Thêm mới</span></button>
              <button [disabled]="getSelectedItems().length!=1" class="btn btn-default buttons-csv buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" href="#"><span>Cập nhật</span></button>
              <button [disabled]="getSelectedItems().length==0" class="btn btn-danger buttons-csv buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" href="#"><span>Xóa</span></button>


            </div>
          </div>
        </div>
      </div>

      <table class="table table-striped table-bordered row-border hover" datatable [dtOptions]="dtOptions" style="width:100%" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th style="text-align: center; width: 20px;">
              <input type="checkbox" [(ngModel)]="checkall" (change)="onCheckAllChange()">
            </th>
            <th>Mã Tỉnh</th>
            <th>Tên Tỉnh</th>
            <th>Loại</th>
            <th>Kích hoạt</th>
            <th>Is1990</th>
            <th>Ghi chú</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list$" [ngClass]="{'selected':item.selected}">
            <td style="text-align: center;">
              <input type="checkbox" [(ngModel)]='item.selected' (change)="onCheckOneChange()">
            </td>
            <td>{{ item.MaTinh }}</td>
            <td>{{ item.TenTinh }}</td>
            <td>{{ item.Type }}</td>
            <td>{{ item.Active }}</td>
            <td>{{ item.Is1990 }}</td>
            <td>{{ item.GhiChu }}</td>
          </tr>
        </tbody>
      </table>



    </div>
  </div>
