<div class="modal-header">
  <h4 class="modal-title pull-left">{{isUpdate? 'Cập nhật' : 'Thêm mới'}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form [formGroup]="myForm">
      <div class="form-group" [ngClass]="{'has-error': submited && !myForm.get('fullName').valid }" autocomplete="off">
        <input type="text" class="form-control" placeholder="Họ và tên" formControlName="fullName">
        <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('fullName').hasError('required')">Trường này là bắt buộc.</span>
        <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('fullName').hasError('maxlength')">Độ dài tối đa là 30 ký tự.</span>

    </div>
    <div class="form-group" [ngClass]="{'has-error': submited && !myForm.get('email').valid }">
        <input type="email" class="form-control" placeholder="Email" formControlName="email" autocomplete="off">
        <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('email').hasError('required')">Trường này là bắt buộc.</span>
        <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('email').hasError('maxlength')">Độ dài tối đa là 30 ký tự.</span>
        <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('email').hasError('email')">Sai dịnh dạng mail.</span>
        <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('email').hasError('emailDuplicate')">Email đã tồn tại.</span>
    </div>
    <div class="form-group" [ngClass]="{'has-error': submited && !myForm.get('password').valid }" autocomplete="off">
        <input type="password" class="form-control" placeholder="Mật khẩu"  formControlName="password">
        <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('password').hasError('required')">Trường này là bắt buộc.</span>
        <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('password').hasError('minlength')">Độ dài tối thiểu là 6 ký tự.</span>

    </div>
    <div class="form-group" [ngClass]="{'has-error': submited && !myForm.get('rePassword').valid }" autocomplete="off">
      <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" formControlName="rePassword">
      <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('rePassword').hasError('required')">Trường này là bắt buộc.</span>
      <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('rePassword').hasError('minlength')">Độ dài tối thiểu là 6 ký tự.</span>
      <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('rePassword').hasError('passNotMatch')">Mật khẩu xác nhận không trùng với mật khẩu.</span>
    </div>
    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSubmit()"><i class="fa fa-save"></i> Lưu</button>
  <button type="button" class="btn btn-default" (click)="onClose()"><i class="fa fa-times"></i> Đóng</button>
</div>
