<div class="row wrapper border-bottom white-bg page-heading" style='margin-bottom: 10px'>
  <div class="col-sm-4">
      <h2 style='font-weight:500 '>Danh sách đơn vị</h2>
  </div>
  <div class="col-sm-8">
      <div class="title-action">

      </div>
  </div>
</div>
<div class="ibox ">


  <div class="ibox-content inspinia-timeline">

    <div class="row search-box">
        <div class="col-sm-3">
            <input placeholder="Tên đơn vị" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">

      </div>
      <div class="col-sm-3">
            <button type="button" class="btn btn-sm btn-primary" (click)="onSearch()"><i class="fa fa-search"></i> Tìm kiếm</button>
      </div>
            <div class="html5buttons col-sm-6">
                <div class="html5buttons">
                  <button class="btn btn-primary buttons-copy buttons-html5"  (click)="onAddNew()" ><span><i class="fa fa-plus"></i>  Thêm mới</span></button>
                  <button [disabled]="getSelectedItems().length==0"  class="btn btn-danger buttons-csv buttons-html5"  (click)="onDeleteSelected()"><span><i class="fa fa-trash"></i>  Xóa đã chọn</span></button>
              </div>
          </div>
    </div>

    <div class='tbl-div' style="overflow: auto">
      <table class="table table-bordered table-hover table-striped dataDiplayTable" style="width:100%; min-width: 2200px;">
        <thead>
          <tr >
            <th rowspan="2" style="text-align: center; width: 20px;" class='no-sort'>
              <input type="checkbox" [(ngModel)]="checkall" (change)="onCheckAllChange()" >
            </th>

            <th class='no-sort' rowspan="2">Mã đơn vị</th>

            <th class='no-sort' rowspan="2">Tên đơn vị</th>

            <th class='no-sort' rowspan="2">Tên viết tắt</th>

            <th class='no-sort' rowspan="2">Mã đơn vị cha</th>

            <th class='no-sort' rowspan="2">Ghi chú</th>

            <th class='no-sort' rowspan="2">Kích hoạt</th>

            <th class='no-sort' colspan="3">Thông tin liên hệ</th>

            <th style="width:60px;" rowspan="2" class='no-sort'></th>
          </tr>
          <tr>

            <th class='no-sort'>Hòm thư</th>

            <th class='no-sort'>Thủ trưởng</th>

            <th class='no-sort'>Chức vụ thủ trưởng</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list$" [ngClass]="{'selected':item.selected}">
            <td style="text-align: center;">
              <input type="checkbox" [(ngModel)]='item.selected' (change)="onCheckOneChange()">
            </td>
            <td>{{item.maDonVi}}</td>

            <td>{{item.tenDonVi}}</td>

            <td>{{item.tenVietTat}}</td>

            <td>{{item.maDonViCha}}</td>

            <td>{{item.ghiChu}}</td>

            <td style="text-align: center;"><input type="checkbox" disabled="disabled" [(ngModel)]='item.active'></td>

            <td>{{item.cqcS_HomThu}}</td>

            <td>{{item.cqcS_ThuTruong}}</td>

            <td>{{item.cqcS_ThuTruongChucVu}}</td>

            <td class="action-col">
                <a class="action-icon" (click)="onEditItem(item)"><i class="fa fa-pencil-square-o"></i></a>
                <a class="action-icon" (click)="onDeleteItem(item)"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style='margin-top: 20px; margin-bottom: 20px'>
       <app-paging
                [TotalCount]='totalCount'
                [PageIndex]='currentPage'
                [PageSize]='pageSize'
                [DataLength]= 'list$.length'
                (pageSizeChangge)="onPageSizeChange($event)"
                (currentPageChangge)="goToPage($event)"></app-paging>
    </div>

  </div>
</div>
<swal
  #deleteItemSwal
  text="Bạn thực sự muốn xóa?"
  type="question"
  [showCancelButton]="true"
  >
</swal>
