<div class="ibox ">
  <div class="ibox-title">
    <h5>Cấp Bậc</h5>
    <div class="ibox-tools">

    </div>
  </div>

  <div class="ibox-content inspinia-timeline">

    <div class="row search-box">
        <div class="col-sm-3">
            <input placeholder="Search" #SearchName type="text" class="form-control form-control-sm">
      </div>
      <div class="col-sm-3">
            <button type="button" class="btn btn-sm btn-primary" (click)="onSearch()"><i class="fas fa-search"></i> Search</button>
      </div>
            <div class="html5buttons col-sm-6">
                <div class="html5buttons">
                  <button class="btn btn-primary buttons-copy buttons-html5"  (click)="onAddCapBac()" ><span><i class="fas fa-plus"></i>  Thêm mới</span></button>
                  <button  class="btn btn-danger buttons-csv buttons-html5"  (click)="onDeleteListItem()"><span><i class="far fa-trash-alt"></i>  Xóa đã chọn</span></button>
              </div>
          </div>
    </div>

    <div class='tbl-div'>
      <table class="table table-bordered table-hover" style="width:100%">
        <thead>
          <tr>
            <th style="text-align: center; width: 20px;">
              <input type="checkbox" [(ngModel)]="checkall" (change)="onCheckAllChangse()" >
            </th>
            <th>Tên</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data" [ngClass]="{'selected':item.selected}">
            <td style="text-align: center;">
              <input type="checkbox" [(ngModel)]='item.selected' (change)="onCheckOneChange()">
            </td>
            <td>{{ item.text }}</td>
            <td>
                <a class='text-success' (click)="onEditItem(item)"><i class="fas fa-pen-fancy"></i></a>
                <a class='text-danger' (click)="onDeleteItem(item)"><i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
       <app-paging 
                [TotalCount]='totalCount' 
                [PageIndex]='currentPage' 
                [PageSize]='pageSize' 
                [DataLength]= 'data.length' 
                (pageSizeChangge)="onPageSizeChange($event)"
                (currentPageChangge)="goToPage($event)"></app-paging>
    </div>

  </div>
</div>
