.html5buttons button {
  margin-left: 5px
}
.tbl-div {
  margin-top: 20px
}
.text-success{
  margin-right: 10px
}
.paging-right{
  float: right ;
}

.pag-size-div {
  display: inline-flex;
  margin-top: 4px;
}
.pag-size-div .show-text {
  margin-right: 7px;
  margin-top: 6px;
  width: 49px;
}

.pag-size-div select {
  height: 30px;
  line-height: 30px;
  width: 70px;
}

.pag-size-div .entries-text {
  margin-left: 7px;
  margin-top: 6px;
}
