/* You can add global styles to this file, and also import other style files */
table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc, table.dataTable thead .sorting{
    background-image: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0 !important;
}
.dataTables_empty {
    display: none;
}
table.dataTable thead th, table.dataTable thead td,table.dataTable.no-footer{
    border-bottom: 1px solid #CCC !important;
}
td.action-col{
    text-align: center;
}
td.action-col a{
    padding-left: 5px;
}
.no-auth{
  margin-left: 0!important;
}
.select2-container{
  z-index: 10000;

}
.select2 {
  width: 100%!important;
}
