<div class="sidebar-collapse">
  <ul class="nav metismenu" id="side-menu">
    <li class="nav-header">
      <div class="dropdown profile-element">
          <img alt="image" class="rounded-circle" src="img/profile_small.jpg"/>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="block m-t-xs font-bold">David Williams</span>
              <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a class="dropdown-item" href="login.html">Logout</a></li>
          </ul>
      </div>
      <div class="logo-element">
          <img src="./../../../../assets/img/quochuy.png" style='width: 60%;'>
      </div>
    </li>
      <li>
        <a routerLink="/lietsi"><i class="fa fa-database"></i> <span class="nav-label">Danh sách Liệt sĩ</span></a>
    </li>
      <li>
        <a href="#"><i class="fa fa-university"></i> <span class="nav-label">Quản trị </span><span class="fa arrow"></span></a>

        <ul class="nav nav-second-level collapse">
            <li><a routerLink = '/'><i class="fa fa-list-ul"></i> Chức vụ</a></li>
            <li><a routerLink = '/capbac'><i class="fa fa-list-ul"></i> Cấp Bậc</a></li>
            <li><a routerLink = '/thoiky'><i class="fa fa-clock-o"></i> Thời kỳ</a></li>
            <li><a routerLink = '/mattran'><i class="fa fa-map-marker"></i> Mặt trận</a></li>
            <li><a routerLink = '/doituong' > <i class="fa fa-archive"></i> Đối tượng</a></li>
            <li><a routerLink = '/loaidoituong'><i class="fa fa-id-card"></i> Loại đối tượng</a></li>
            <li><a routerLink = '/diemcao'><i class="fa fa-book"></i> Điểm cao</a></li>
            <li><a routerLink = '/donvi'><i class="fa fa-tags"></i> Đơn vị</a></li>
            <li><a routerLink = '/soquyen'><i class="fa fa-book"></i> Số quyển</a></li>
            <div class="dropdown-divider"></div>
            <li><a routerLink = '/tinh'><i class="fa fa-share-square"></i> Tỉnh</a></li>
            <li><a routerLink = '/huyen'><i class="fa fa-file-text"></i> Huyện</a></li>
            <li><a routerLink = '/xa'><i class="fa fa-font-awesome"></i> Xã</a></li>
          </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Phân quyền </span><span class="fa arrow"></span></a>

        <ul class="nav nav-second-level">
            <li><a routerLink = '/role'><i class="fa fa-cog"></i> Role</a></li>
            <li><a routerLink='/user_role' ><i class="fa fa-user"></i> User role</a></li>
          </ul>
      </li>




  </ul>

</div>
