<div class="ibox wrapper wrapper-content animated fadeInRight">
  <div class="ibox-title">
    <h5>Ncc_PhieuCungCap</h5>
    <div class="ibox-tools">

    </div>
  </div>

  <div class="ibox-content inspinia-timeline">

    <div class="row search-box">
        <div class="col-sm-3">
            <input placeholder="Tên" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-3">
            <button type="button" class="btn btn-sm btn-primary" (click)="onSearch()"><i class="fas fa-search"></i> Tìm kiếm</button>
      </div>
            <div class="html5buttons col-sm-6">
                <div class="html5buttons">
                  <button class="btn btn-primary buttons-copy buttons-html5"  (click)="onAddNew()" ><span><i class="fas fa-plus"></i>  Thêm mới</span></button>
                  <button [disabled]="getSelectedItems().length==0"  class="btn btn-danger buttons-csv buttons-html5"  (click)="onDeleteSelected()"><span><i class="far fa-trash-alt"></i>  Xóa đã chọn</span></button>
              </div>
          </div>
    </div>

    <div class='tbl-div'>
      <table class="table table-bordered table-hover table-striped dataDiplayTable" style="width:100%">
        <thead>
          <tr >
            <th style="text-align: center; width: 20px;" class='no-sort'>
              <input type="checkbox" [(ngModel)]="checkall" (change)="onCheckAllChange()" >
            </th>

                           <th class='no-sort'>Id</th>
                          
                           <th class='no-sort'>DonViId</th>
                          
                           <th class='no-sort'>Ncc_HoTen</th>
                          
                           <th class='no-sort'>Ncc_NamSinh</th>
                          
                           <th class='no-sort'>Ncc_QueXa</th>
                          
                           <th class='no-sort'>Ncc_QueHuyen</th>
                          
                           <th class='no-sort'>Ncc_QueTinh</th>
                          
                           <th class='no-sort'>Ncc_LiemHe</th>
                          
                           <th class='no-sort'>Ncc_BanThan</th>
                          
                           <th class='no-sort'>Ncc_LienHeVoiLietSi</th>
                          
                           <th class='no-sort'>Ncc_DonVi</th>
                          
                           <th class='no-sort'>Ncc_KienNghi</th>
                          
                           <th class='no-sort'>LietSiHoTien</th>
                          
                           <th class='no-sort'>LietSyQueThon</th>
                          
                           <th class='no-sort'>LietSyQueXa</th>
                          
                           <th class='no-sort'>LietSyQueHuyen</th>
                          
                           <th class='no-sort'>LietSyQueTinh</th>
                          
                           <th class='no-sort'>LietSyCapBac</th>
                          
                           <th class='no-sort'>LetSyChucVu</th>
                          
                           <th class='no-sort'>LietSyDonVi</th>
                          
                           <th class='no-sort'>LietSyNgayHySinh</th>
                          
                           <th class='no-sort'>LietSyDacDiem</th>
                          
                           <th class='no-sort'>LietSyMaiTang</th>
                          
                           <th class='no-sort'>LietSyMaiTangXa</th>
                          
                           <th class='no-sort'>LietSyMaiTangHuyen</th>
                          
                           <th class='no-sort'>LietSyMaiTangTinh</th>
                          
                           <th class='no-sort'>LietSyToaDo</th>
                          
                           <th class='no-sort'>LieSySoDoViTri</th>
                          
                           <th class='no-sort'>LietSyLyDoBietMo</th>
                          
                           <th class='no-sort'>NguoiBietKhac</th>
                          
                           <th class='no-sort'>NguoiBietKhacLienHe</th>
                          
            <th style="width:60px;" class='no-sort'></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list$" [ngClass]="{'selected':item.selected}">
            <td style="text-align: center;">
              <input type="checkbox" [(ngModel)]='item.selected' (change)="onCheckOneChange()">
            </td>

                               <td>{{item.id}}</td>
                          
                               <td>{{item.donViId}}</td>
                          
                               <td>{{item.ncc_HoTen}}</td>
                          
                               <td>{{item.ncc_NamSinh}}</td>
                          
                               <td>{{item.ncc_QueXa}}</td>
                          
                               <td>{{item.ncc_QueHuyen}}</td>
                          
                               <td>{{item.ncc_QueTinh}}</td>
                          
                               <td>{{item.ncc_LiemHe}}</td>
                          
                               <td>{{item.ncc_BanThan}}</td>
                          
                               <td>{{item.ncc_LienHeVoiLietSi}}</td>
                          
                               <td>{{item.ncc_DonVi}}</td>
                          
                               <td>{{item.ncc_KienNghi}}</td>
                          
                               <td>{{item.lietSiHoTien}}</td>
                          
                               <td>{{item.lietSyQueThon}}</td>
                          
                               <td>{{item.lietSyQueXa}}</td>
                          
                               <td>{{item.lietSyQueHuyen}}</td>
                          
                               <td>{{item.lietSyQueTinh}}</td>
                          
                               <td>{{item.lietSyCapBac}}</td>
                          
                               <td>{{item.letSyChucVu}}</td>
                          
                               <td>{{item.lietSyDonVi}}</td>
                          
                               <td>{{item.lietSyNgayHySinh}}</td>
                          
                               <td>{{item.lietSyDacDiem}}</td>
                          
                               <td>{{item.lietSyMaiTang}}</td>
                          
                               <td>{{item.lietSyMaiTangXa}}</td>
                          
                               <td>{{item.lietSyMaiTangHuyen}}</td>
                          
                               <td>{{item.lietSyMaiTangTinh}}</td>
                          
                               <td>{{item.lietSyToaDo}}</td>
                          
                               <td>{{item.lieSySoDoViTri}}</td>
                          
                               <td>{{item.lietSyLyDoBietMo}}</td>
                          
                               <td>{{item.nguoiBietKhac}}</td>
                          
                               <td>{{item.nguoiBietKhacLienHe}}</td>
                                     

            <td class="action-col">
                <a class="action-icon" (click)="onEditItem(item)"><i class="fas fa-pen-fancy"></i></a>
                <a class="action-icon" (click)="onDeleteItem(item)"><i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
       <app-paging
                [TotalCount]='totalCount'
                [PageIndex]='currentPage'
                [PageSize]='pageSize'
                [DataLength]= 'list$.length'
                (pageSizeChangge)="onPageSizeChange($event)"
                (currentPageChangge)="goToPage($event)"></app-paging>
    </div>

  </div>
</div>
