<div class="modal-header">
  <h4 class="modal-title pull-left">{{isUpdate? 'Cập nhật' : 'Thêm mới'}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form [formGroup]="myForm">
      <!--   <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('name').valid }">
              <label class="col-sm-2 col-form-label">Tên</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="name">
             <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('name').hasError('required')">Trường này là bắt buộc.</span>
              <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('name').hasError('maxlength')">Độ dài tối đa là 30 ký tự.</span>
              <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('name').hasError('isNameDuplicate')">Tên đã tồn tại.</span>

            </div>
        </div>
	-->


		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('donViId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DonViId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="donViId" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maDonVi').valid }">
		                  <label class="col-form-label col-sm-2">
		                    MaDonVi
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="maDonVi" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('tenDonVi').valid }">
		                  <label class="col-form-label col-sm-2">
		                    TenDonVi
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="tenDonVi" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('tenVietTat').valid }">
		                  <label class="col-form-label col-sm-2">
		                    TenVietTat
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="tenVietTat" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maDonViCha').valid }">
		                  <label class="col-form-label col-sm-2">
		                    MaDonViCha
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="maDonViCha" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('phanMuc').valid }">
		                  <label class="col-form-label col-sm-2">
		                    PhanMuc
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="phanMuc" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('phanCap').valid }">
		                  <label class="col-form-label col-sm-2">
		                    PhanCap
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="phanCap" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('phanKhoi').valid }">
		                  <label class="col-form-label col-sm-2">
		                    PhanKhoi
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="phanKhoi" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ghiChu').valid }">
		                  <label class="col-form-label col-sm-2">
		                    GhiChu
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="ghiChu" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('active').valid }">
		                  <label class="col-form-label col-sm-2">
		                    Active
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="active" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('cQCS_Ten').valid }">
		                  <label class="col-form-label col-sm-2">
		                    CQCS_Ten
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="cQCS_Ten" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('cQCS_DiaChi').valid }">
		                  <label class="col-form-label col-sm-2">
		                    CQCS_DiaChi
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="cQCS_DiaChi" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('cQCS_DienThoai').valid }">
		                  <label class="col-form-label col-sm-2">
		                    CQCS_DienThoai
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="cQCS_DienThoai" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('cQCS_HomThu').valid }">
		                  <label class="col-form-label col-sm-2">
		                    CQCS_HomThu
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="cQCS_HomThu" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('cQCS_ThuTruong').valid }">
		                  <label class="col-form-label col-sm-2">
		                    CQCS_ThuTruong
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="cQCS_ThuTruong" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('cQCS_ThuTruongChucVu').valid }">
		                  <label class="col-form-label col-sm-2">
		                    CQCS_ThuTruongChucVu
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="cQCS_ThuTruongChucVu" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('cQCS_NguoiPhuTrach').valid }">
		                  <label class="col-form-label col-sm-2">
		                    CQCS_NguoiPhuTrach
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="cQCS_NguoiPhuTrach" />
		                  </div>
		                 </div>




		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('cQCS_NguoiPhuTrachPhone').valid }">
		                  <label class="col-form-label col-sm-2">
		                    CQCS_NguoiPhuTrachPhone
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="cQCS_NguoiPhuTrachPhone" />
		                  </div>
		                 </div>




    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSubmit()"><i class="fa fa-save"></i> Lưu</button>
  <button type="button" class="btn btn-default" (click)="onClose()"><i class="fa fa-times"></i> Đóng</button>
</div>
