<div class="modal-header">
  <h4 class="modal-title pull-left">{{isUpdate? 'Cập nhật đơn vị' : 'Thêm mới đơn vị'}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body liet-sy-form">
  <form [formGroup]="myForm">
      <!--   <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('name').valid }">
              <label class="col-sm-2 col-form-label">Tên</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="name">
             <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('name').hasError('required')">Trường này là bắt buộc.</span>
              <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('name').hasError('maxlength')">Độ dài tối đa là 30 ký tự.</span>
              <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('name').hasError('isNameDuplicate')">Tên đã tồn tại.</span>

            </div>
        </div>
  -->
  <div class="">
    <div class="ibox " >
      <div class="ibox-title">
          <h5>I, Thông tin đơn vị</h5>
          <div class="ibox-tools">

          </div>
        </div>
        <div class="ibox-content">
            <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maDonVi').valid }">
              <label class="col-form-label col-sm-2">
                Mã đơn vị <span class="text-danger">*</span>
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="maDonVi" />
                <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('maDonVi').hasError('required')">Trường này là bắt buộc.</span>
                <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('maDonVi').hasError('maxlength')">Độ dài tối đa là 30 ký tự.</span>
                <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('maDonVi').hasError('isCodeDuplicate')">Mã đơn vị đã tồn tại.</span>
              </div>
              </div>

            <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('tenDonVi').valid }">
              <label class="col-form-label col-sm-2">
                Tên đơn vị <span class="text-danger">*</span>
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="tenDonVi" />
                <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('tenDonVi').hasError('required')">Trường này là bắt buộc.</span>
                <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('tenDonVi').hasError('isNameDuplicate')">Tên đơn vị đã tồn tại.</span>
              </div>
              </div>

            <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('tenVietTat').valid }">
              <label class="col-form-label col-sm-2">
                Tên viết tắt <span class="text-danger">*</span>
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="tenVietTat" />
                <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('tenVietTat').hasError('required')">Trường này là bắt buộc.</span>
              </div>
              </div>

            <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maDonViCha').valid }">
              <label class="col-form-label col-sm-2">
                Đơn vị cha
                <!-- <span class="text-danger">*</span> -->
              </label>
              <div class="col-sm-8">
                <!-- <select2 [data]="ListAllDonVI" [cssImport]="true" [options]="{dropdownAutoWidth: true}" ></select2> -->
                      <!-- <ng-select [items]="ListAllDonVI"
                                bindLabel="text"
                                bindValue="id"
                                groupBy="children"
                                formControlName="maDonViCha">
                                <ng-template ng-optgroup-tmp let-item="item">
                                    {{item.text}}
                                </ng-template>
                        </ng-select> -->
                        <!-- <select name="" id="" class="form-control">
                          <option *ngFor='let item of ListAllDonVI'>
                              <span [style.margin-left]="item.level * 10 + 'px'" class="optionClass">{{item.text}}</span>
                          </option>
                        </select> -->
                        <ng-select [items]="ListAllDonVI"
                                bindLabel="text"
                                bindValue="maDonVi"
                                formControlName="maDonViCha">
                                <ng-template ng-option-tmp let-item="item">
                                  <span [style.margin-left]="item.level * 10 + 'px'">{{item.text}}</span>
                              </ng-template>
                        </ng-select>

                <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('maDonViCha').hasError('required')">Trường này là bắt buộc.</span>
              </div>
              </div>

            <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ghiChu').valid }">
              <label class="col-form-label col-sm-2">
                Ghi chú
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="ghiChu" />
              </div>
              </div>

            <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('active').valid }">
              <label class="col-form-label col-sm-2">
                Kích hoạt
              </label>
              <div class="col-sm-8">
                  <div class="checkbox">
                      <input type="checkbox" id="inlineCheckbox1" [checked]="true" formControlName="active" >
                      <label for="inlineCheckbox1"> </label>
                  </div>
              </div>
            </div>
          </div>
      </div>
    <div class="ibox ">
      <div class="ibox-title">
        <h5>II, Thông tin liên hệ</h5>
        <div class="ibox-tools">

        </div>
      </div>
      <div class="ibox-content">

        <!-- <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('cqcS_HomThu').valid }">
          <label class="col-form-label col-sm-2">
            Hòm thư <span class="text-danger">*</span>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="cqcS_HomThu" />
            <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('cqcS_HomThu').hasError('required')">Trường này là bắt buộc.</span>
          </div>
        </div> -->

        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('cqcS_DiaChi').valid }">
          <label class="col-form-label col-sm-2">
            Địa bàn hoạt động
            <!-- <span class="text-danger">*</span> -->
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="cqcS_DiaChi" />
            <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('cqcS_DiaChi').hasError('required')">Trường này là bắt buộc.</span>
          </div>
        </div>

        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('cqcS_ThuTruong').valid }">
          <label class="col-form-label col-sm-2">
            Thủ trưởng
            <!-- <span class="text-danger">*</span> -->
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="cqcS_ThuTruong" />
            <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('cqcS_ThuTruong').hasError('required')">Trường này là bắt buộc.</span>
          </div>
        </div>

        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('cqcS_ThuTruongChucVu').valid }">
          <label class="col-form-label col-sm-2">
            Chức vụ thủ trưởng
            <!-- <span class="text-danger">*</span> -->
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="cqcS_ThuTruongChucVu" />
            <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('cqcS_ThuTruongChucVu').hasError('required')">Trường này là bắt buộc.</span>
          </div>
        </div>

      </div>
    </div>
  </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSubmit()"><i class="fa fa-save"></i> Lưu</button>
  <button type="button" class="btn btn-default" (click)="onClose()"><i class="fa fa-times"></i> Đóng</button>
</div>
