<div class='row'>
  <div class='col-sm-4'>
    <div class='pag-size-div'>
        <p class="show-text">Hiển thị</p>
        <select   name="dataTable_length" aria-controls="dataTable" class="form-control input-sm" (change)="onChangePageSize($event.target.value)" [(ngModel)]="PageSize">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
        <p class="entries-text">kết quả trên một trang</p>
    </div>
  </div>
  <div class='col-sm-4 pagging_text'>
      <p>Bản ghi từ {{itemFrom}} đến {{itemTo }} trong {{TotalCount}} bản ghi</p>
  </div>

  <div class='col-sm-4'>
    <div class='paging-right'>
        <pagination [boundaryLinks]="true" [totalItems]="TotalCount" [itemsPerPage]="PageSize" (pageChanged)="pageChanged($event)" [(ngModel)]="PageIndex"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
  </div>
</div>
