<div class="modal-header">
  <h4 class="modal-title pull-left">{{isUpdate? 'Cập nhật' : 'Thêm mới'}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body liet-sy-form">
    <form [formGroup]="myForm">

        <div class="ibox">
            <div class="ibox-title">
                <h5>I, Thông tin liệt sĩ</h5>
                <div class="ibox-tools">

                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('soQuyenId').valid }">
                            <label class="col-form-label col-sm-4">
                              Quyển/Tập số
                            </label>
                            <div class="col-sm-8">
                              <ng-select [items]="listAllSoQuyen | async"
                                        bindLabel="text"
                                        bindValue="id"
                                        formControlName="soQuyenId">
                                    </ng-select>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thuTu').valid }">
                            <label class="col-form-label col-sm-4">
                              Số Thứ tự
                            </label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" formControlName="thuTu" />
                            </div>
                           </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hoTen').valid }">
                          <label class="col-form-label col-sm-4">
                            Họ và tên
                          </label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="hoTen" />
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('tenKhac').valid }">
                        <label class="col-form-label col-sm-4">
                          Tên khác
                        </label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="tenKhac" />
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('gioiTinh').valid }">
                        <label class="col-form-label col-sm-4">
                          Giới tính
                        </label>
                        <div class="col-sm-8">
                          <ng-select [items]="listGender"
                                bindLabel="text"
                                bindValue="id"
                                formControlName="gioiTinh">
                            </ng-select>
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('namSinh').valid }">
                        <label class="col-form-label col-sm-4">
                          Năm sinh
                        </label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="namSinh" />
                        </div>
                       </div>
                    </div>
                  </div>

                  <div class="hr-line-dashed"></div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('queTinhId').valid }">
                        <label class="col-form-label col-sm-4">
                          N.Quán Tỉnh/TP
                        </label>
                        <div class="col-sm-8">
                            <ng-select [items]="listAllTinh "
                                bindLabel="text"
                                bindValue="id"
                                placeholder="N.Quán tỉnh"
                                (change)="onChangeQueTinh($event)"
                                formControlName="queTinhId"
                                >
                            </ng-select>
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('queHuyenId').valid }">
                        <label class="col-form-label col-sm-4">
                            N.Quán Quận, Huyện
                        </label>
                        <div class="col-sm-8">
                            <ng-select [items]="listQueHuyen "
                              bindLabel="text"
                              bindValue="id"
                              placeholder="N.Quán huyện"
                              (change)="onChangeQueHuyen($event)"
                              formControlName="queHuyenId"
                              >
                          </ng-select>
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('queXaId').valid }">
                        <label class="col-form-label col-sm-4">
                            N.Quán Xã, phường
                        </label>
                        <div class="col-sm-8">
                            <ng-select [items]="listQueXa "
                                bindLabel="text"
                                bindValue="id"
                                placeholder="N.Quán Xã, phường"
                                >
                            </ng-select>
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('queThon').valid }">
                        <label class="col-form-label col-sm-4">
                            N.Quán Số nhà thôn
                        </label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="queThon" />
                        </div>
                       </div>
                    </div>
                  </div>
                  <div class="hr-line-dashed"></div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('queThon').valid }">
                        <div class="checkbox checkbox-success">
                          <input id="checkbox2" type="checkbox" formControlName="dangVien">
                          <label for="checkbox2">
                            Là Đoàn viên
                          </label>
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('queThon').valid }">
                        <label class="col-form-label col-sm-4">
                          Ngày vào Đoàn
                        </label>
                        <div class="col-sm-8">
                          <input type="text"
                              class="form-control"
                              bsDatepicker>
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('dangVien').valid }">

                        <div class="checkbox checkbox-success">
                          <input id="checkbox3" type="checkbox" formControlName="dangVien">
                          <label for="checkbox3">
                            Là Đảng viên
                          </label>
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayVaoDang').valid }">
                        <label class="col-form-label col-sm-4">
                          Ngày vào Đảng
                        </label>
                        <div class="col-sm-8">
                          <input type="text"
                              class="form-control"
                              bsDatepicker formControlName="ngayVaoDang">
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayNhapNgu').valid }">
                        <label class="col-form-label col-sm-4">
                          Ngày nhập ngũ
                        </label>
                        <div class="col-sm-8">
                          <input type="text"
                              class="form-control"
                              bsDatepicker formControlName="ngayNhapNgu">
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayXuatNgu').valid }">
                        <label class="col-form-label col-sm-4">
                          Ngày xuất ngũ
                        </label>
                        <div class="col-sm-8">
                          <input type="text"
                              class="form-control"
                              bsDatepicker formControlName="ngayXuatNgu">
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayTaiNgu').valid }">
                        <label class="col-form-label col-sm-4">
                          Ngày tái ngũ
                        </label>
                        <div class="col-sm-8">
                          <input type="text"
                              class="form-control"
                              bsDatepicker formControlName="ngayTaiNgu">
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayDiBCK').valid }">
                        <label class="col-form-label col-sm-4">
                          Ngày đi B|C|K
                        </label>
                        <div class="col-sm-8">
                          <input type="text"
                              class="form-control"
                              bsDatepicker formControlName="ngayDiBCK">
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="ibox">
          <div class="ibox-title">
              <h5>II, Thông tin hy sinh</h5>
              <div class="ibox-tools">

              </div>
          </div>
          <div class="ibox-content">
              <div class="row">
                  <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayHiSinh').valid }">
                        <label class="col-form-label col-sm-4">
                          Ngày hi sinh
                        </label>
                        <div class="col-sm-8">
                          <input type="text"
                              class="form-control"
                              bsDatepicker formControlName="ngayHiSinh">
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhThoiKyId').valid }">
                        <label class="col-form-label col-sm-4">
                          Thời kỳ
                        </label>
                        <div class="col-sm-8">
                          <ng-select [items]="listAllThoiKy | async"
                              bindLabel="text"
                              bindValue="id"
                              formControlName="hySinhThoiKyId">
                          </ng-select>
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('doiTuongId').valid }">
                          <label class="col-form-label col-sm-4">
                              Đối tượng
                          </label>
                          <div class="col-sm-8">
                            <ng-select [items]="listAllDoiTuong | async"
                                bindLabel="text"
                                bindValue="id"
                                formControlName="doiTuongId">
                            </ng-select>
                          </div>
                         </div>
                      </div>
                    <div class="col-md-4">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhCapBac').valid }">
                          <label class="col-form-label col-sm-4">
                            Cấp bậc
                          </label>
                          <div class="col-sm-8">
                                <ng-select [items]="listAllCapBac | async"
                                      bindLabel="text"
                                      bindValue="id"
                                      formControlName="hySinhCapBac">
                                  </ng-select>
                          </div>
                         </div>
                      </div>

                      <div class="col-md-4">
                          <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhChucVu').valid }">
                            <label class="col-form-label col-sm-4">
                              Chức vụ
                            </label>
                            <div class="col-sm-8">
                               <ng-select [items]="listAllChucVu | async"
                                  bindLabel="text"
                                  bindValue="id"
                                  formControlName="hySinhChucVu">
                              </ng-select>
                            </div>
                           </div>
                      </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhDonVi').valid }">
                          <label class="col-form-label col-sm-2">
                            Đơn vị hy sinh
                          </label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="hySinhDonVi" />
                          </div>
                         </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('donVi_B_C_D').valid }">
                          <label class="col-form-label col-sm-4">
                            Phiên hiệu cấp b, c, d
                          </label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="donVi_B_C_D" />
                          </div>
                         </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('donVi_E').valid }">
                          <label class="col-form-label col-sm-4">
                            Cấp e
                          </label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="donVi_E" />
                          </div>
                         </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('donVi_F').valid }">
                          <label class="col-form-label col-sm-4">
                            Cấp f
                          </label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="donVi_F" />
                          </div>
                         </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('donVi_G').valid }">
                            <label class="col-form-label col-sm-4">
                              Cấp QK, QĐ
                            </label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" formControlName="donVi_G" />
                            </div>
                           </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhLyDoChiTiet').valid }">
                          <label class="col-form-label col-sm-2">
                            Hy sinh tình huống
                          </label>
                          <div class="col-sm-10">
                            <textarea  class="form-control" formControlName="hySinhLyDoChiTiet">

                            </textarea>
                          </div>
                         </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhTranDanh').valid }">
                          <label class="col-form-label col-sm-2">
                           Trận đánh
                          </label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="hySinhTranDanh" />
                          </div>
                         </div>
                      </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">


                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhTinhId').valid }">
                        <label class="col-form-label col-sm-4">
                          Tỉnh/TP
                        </label>
                        <div class="col-sm-8">
                            <ng-select [items]="listAllTinh "
                                bindLabel="text"
                                bindValue="id"
                                placeholder="Tỉnh/Tp hy sinh"
                                (change)="onChangeTinhHySinh($event)"
                                (clear)="onClearTinhHySinh()"
                                formControlName="hySinhTinhId"
                                >
                              </ng-select>
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhHuyenId').valid }">
                        <label class="col-form-label col-sm-4">
                          Quận, Huyện
                        </label>
                        <div class="col-sm-8">
                            <ng-select [items]="listHuyenHySinh "
                                bindLabel="text"
                                bindValue="id"
                                placeholder="Quận, huyện hy sinh"
                                (change)="onChangeHuyenHySinh($event)"
                                formControlName="hySinhHuyenId">
                              </ng-select>
                        </div>
                       </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhXaId').valid }">
                        <label class="col-form-label col-sm-4">
                          Thôn phố, Xã, Phường
                        </label>
                        <div class="col-sm-8">
                            <ng-select [items]="listXaHySinh "
                              bindLabel="text"
                              bindValue="id"
                              placeholder="Thôn xã phường hy sinh"
                              formControlName="hySinhXaId"
                              >
                            </ng-select>
                        </div>
                       </div>
                    </div>

                  </div>

          </div>

        </div>

        <div class="ibox">
            <div class="ibox-title">
                <h5>III, Thông tin mai táng</h5>
                <div class="ibox-tools">

                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maiTang').valid }">
                          <label class="col-form-label col-sm-4">
                            Tình trạng
                          </label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="maiTang" />
                          </div>
                         </div>
                      </div>
                    <div class="col-md-4">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maiTangTinhId').valid }">
                          <label class="col-form-label col-sm-4">
                            Tỉnh/TP
                          </label>
                          <div class="col-sm-8">
                              <ng-select [items]="listAllTinh "
                                bindLabel="text"
                                bindValue="id"
                                placeholder="Tỉnh/Tp mai táng"
                                (change)="onChangeTinhMaiTang($event)"
                                formControlName="maiTangTinhId">
                            </ng-select>
                          </div>
                         </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maiTangHuyenId').valid }">
                          <label class="col-form-label col-sm-4">
                            Quận, Huyện
                          </label>
                          <div class="col-sm-8">
                              <ng-select [items]="listHuyenMaiTang "
                                  bindLabel="text"
                                  bindValue="id"
                                  placeholder="Quận, huyện mai táng"
                                  (change)="onChangeHuyenMaiTang($event)"
                                  formControlName="maiTangHuyenId">
                              </ng-select>
                          </div>
                         </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maiTangHuyenId').valid }">
                            <label class="col-form-label col-sm-4">
                              Thôn phố, Xã, Phường
                            </label>
                            <div class="col-sm-8">
                                <ng-select [items]="listXaMaiTang "
                                    bindLabel="text"
                                    bindValue="id"
                                    placeholder="Thôn xã phường mai táng"
                                    formControlName="maiTangHuyenId"
                                >
                              </ng-select>
                            </div>
                           </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maiTangToaDo').valid }">
                            <label class="col-form-label col-sm-4">
                              Sơ đồ, tọa độ
                            </label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" formControlName="maiTangToaDo" />
                            </div>
                           </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('quyTap').valid }">
                              <label class="col-form-label col-sm-4">
                                Tình trạng quy tập
                              </label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="quyTap" />
                              </div>
                             </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('nghiaTrang').valid }">
                              <label class="col-form-label col-sm-4">
                                Nghĩa trang
                              </label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="nghiaTrang" />
                              </div>
                             </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('viTriMo').valid }">
                              <label class="col-form-label col-sm-4">
                                Vị trí mộ
                              </label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="viTriMo" />
                              </div>
                             </div>
                          </div>
                </div>
            </div>
       </div>

        <div class="ibox">
          <div class="ibox-title">
              <h5>IV, Thông tin thân nhân</h5>
              <div class="ibox-tools">

              </div>
          </div>
          <div class="ibox-content">
              <div class="row">
                  <div class="col-md-4">
                      <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thanNhanCha').valid }">
                        <label class="col-form-label col-sm-4">
                          Bố
                        </label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="thanNhanCha" />
                        </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thanNhanMe').valid }">
                          <label class="col-form-label col-sm-4">
                            Mẹ
                          </label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="thanNhanMe" />
                          </div>
                         </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thanNhanVo').valid }">
                            <label class="col-form-label col-sm-4">
                              Vợ|Chồng
                            </label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" formControlName="thanNhanVo" />
                            </div>
                           </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thanNhanCon').valid }">
                              <label class="col-form-label col-sm-4">
                                Con
                              </label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="thanNhanCon" />
                              </div>
                             </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thanNhanKhac').valid }">
                              <label class="col-form-label col-sm-4">
                                Khác
                              </label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="thanNhanKhac" />
                              </div>
                             </div>
                        </div>
              </div>
          </div>
        </div>

       <div class="ibox">
          <div class="ibox-content">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ghiChu').valid }">
                          <label class="col-form-label col-sm-2">
                              Ghi chú
                          </label>
                          <div class="col-sm-10">
                            <textarea  class="form-control" formControlName="ghiChu">

                            </textarea>
                          </div>
                         </div>
                      </div>
                 </div>
          </div>
     </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSubmit()"><i class="fa fa-save"></i> Lưu</button>
  <button type="button" class="btn btn-default" (click)="onClose()"><i class="fa fa-times"></i> Đóng</button>
</div>
