<div class="modal-header">
  <h4 class="modal-title pull-left">LietSy</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form [formGroup]="myForm">
      <!--   <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('name').valid }">
              <label class="col-sm-2 col-form-label">Tên</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="name">
             <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('name').hasError('required')">Trường này là bắt buộc.</span>
              <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('name').hasError('maxlength')">Độ dài tối đa là 30 ký tự.</span>
              <span class="form-text m-b-none text-danger" *ngIf="submited && myForm.get('name').hasError('isNameDuplicate')">Tên đã tồn tại.</span>
			  
            </div>
        </div>
	-->

		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('id').valid }">
		                  <label class="col-form-label col-sm-2">
		                    Id
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="id" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thuTu').valid }">
		                  <label class="col-form-label col-sm-2">
		                    ThuTu
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="thuTu" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('soGoSo').valid }">
		                  <label class="col-form-label col-sm-2">
		                    SoGoSo
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="soGoSo" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('soQuyen').valid }">
		                  <label class="col-form-label col-sm-2">
		                    SoQuyen
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="soQuyen" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hoTen').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HoTen
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hoTen" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ten').valid }">
		                  <label class="col-form-label col-sm-2">
		                    Ten
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="ten" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('tenKhac').valid }">
		                  <label class="col-form-label col-sm-2">
		                    TenKhac
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="tenKhac" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('biDanh').valid }">
		                  <label class="col-form-label col-sm-2">
		                    BiDanh
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="biDanh" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('gioiTinh').valid }">
		                  <label class="col-form-label col-sm-2">
		                    GioiTinh
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="gioiTinh" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('namSinh').valid }">
		                  <label class="col-form-label col-sm-2">
		                    NamSinh
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="namSinh" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('danToc').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DanToc
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="danToc" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('quocTich').valid }">
		                  <label class="col-form-label col-sm-2">
		                    QuocTich
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="quocTich" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('queThon').valid }">
		                  <label class="col-form-label col-sm-2">
		                    QueThon
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="queThon" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('queXaId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    QueXaId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="queXaId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('queHuyenId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    QueHuyenId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="queHuyenId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('queTinhId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    QueTinhId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="queTinhId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('truQuanThon').valid }">
		                  <label class="col-form-label col-sm-2">
		                    TruQuanThon
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="truQuanThon" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('truQuanXaId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    TruQuanXaId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="truQuanXaId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('truQuanHuyenId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    TruQuanHuyenId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="truQuanHuyenId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('truQuanTinhId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    TruQuanTinhId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="truQuanTinhId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('diaPhuongNhapNgu').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DiaPhuongNhapNgu
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="diaPhuongNhapNgu" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayNhapNgu').valid }">
		                  <label class="col-form-label col-sm-2">
		                    NgayNhapNgu
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="ngayNhapNgu" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayXuatNgu').valid }">
		                  <label class="col-form-label col-sm-2">
		                    NgayXuatNgu
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="ngayXuatNgu" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayTaiNgu').valid }">
		                  <label class="col-form-label col-sm-2">
		                    NgayTaiNgu
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="ngayTaiNgu" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayDiBCK').valid }">
		                  <label class="col-form-label col-sm-2">
		                    NgayDiBCK
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="ngayDiBCK" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('donViHuanLuyen').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DonViHuanLuyen
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="donViHuanLuyen" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('doanVien').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DoanVien
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="doanVien" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayVaoDoan').valid }">
		                  <label class="col-form-label col-sm-2">
		                    NgayVaoDoan
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="ngayVaoDoan" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('dangVien').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DangVien
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="dangVien" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayVaoDang').valid }">
		                  <label class="col-form-label col-sm-2">
		                    NgayVaoDang
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="ngayVaoDang" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('khenThuong').valid }">
		                  <label class="col-form-label col-sm-2">
		                    KhenThuong
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="khenThuong" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayHiSinh').valid }">
		                  <label class="col-form-label col-sm-2">
		                    NgayHiSinh
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="ngayHiSinh" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hiSinhLyDoID').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HiSinhLyDoID
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hiSinhLyDoID" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhLyDoChiTiet').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HySinhLyDoChiTiet
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hySinhLyDoChiTiet" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhThoiKyId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HySinhThoiKyId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hySinhThoiKyId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('doiTuongId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DoiTuongId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="doiTuongId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhMatTranId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HySinhMatTranId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hySinhMatTranId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhTranDanh').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HySinhTranDanh
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hySinhTranDanh" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhDiaDiem').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HySinhDiaDiem
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hySinhDiaDiem" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhXaId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HySinhXaId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hySinhXaId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhHuyenId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HySinhHuyenId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hySinhHuyenId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhTinhId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HySinhTinhId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hySinhTinhId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maiTangXaId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    MaiTangXaId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="maiTangXaId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maiTangHuyenId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    MaiTangHuyenId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="maiTangHuyenId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maiTangTinhId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    MaiTangTinhId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="maiTangTinhId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maiTangBanDo').valid }">
		                  <label class="col-form-label col-sm-2">
		                    MaiTangBanDo
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="maiTangBanDo" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maiTangToaDo').valid }">
		                  <label class="col-form-label col-sm-2">
		                    MaiTangToaDo
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="maiTangToaDo" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maiTangDiemCaoId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    MaiTangDiemCaoId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="maiTangDiemCaoId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('nghiaTrang').valid }">
		                  <label class="col-form-label col-sm-2">
		                    NghiaTrang
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="nghiaTrang" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('viTriMo').valid }">
		                  <label class="col-form-label col-sm-2">
		                    ViTriMo
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="viTriMo" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('quyTap').valid }">
		                  <label class="col-form-label col-sm-2">
		                    QuyTap
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="quyTap" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('maiTang').valid }">
		                  <label class="col-form-label col-sm-2">
		                    MaiTang
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="maiTang" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('matThiHai').valid }">
		                  <label class="col-form-label col-sm-2">
		                    MatThiHai
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="matThiHai" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('matTich').valid }">
		                  <label class="col-form-label col-sm-2">
		                    MatTich
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="matTich" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayBaoTu').valid }">
		                  <label class="col-form-label col-sm-2">
		                    NgayBaoTu
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="ngayBaoTu" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('giayBaoTu').valid }">
		                  <label class="col-form-label col-sm-2">
		                    GiayBaoTu
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="giayBaoTu" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thanNhanCha').valid }">
		                  <label class="col-form-label col-sm-2">
		                    ThanNhanCha
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="thanNhanCha" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thanNhanMe').valid }">
		                  <label class="col-form-label col-sm-2">
		                    ThanNhanMe
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="thanNhanMe" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thanNhanVo').valid }">
		                  <label class="col-form-label col-sm-2">
		                    ThanNhanVo
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="thanNhanVo" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thanNhanCon').valid }">
		                  <label class="col-form-label col-sm-2">
		                    ThanNhanCon
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="thanNhanCon" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thanNhanKhac').valid }">
		                  <label class="col-form-label col-sm-2">
		                    ThanNhanKhac
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="thanNhanKhac" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thanNhanBaoTin').valid }">
		                  <label class="col-form-label col-sm-2">
		                    ThanNhanBaoTin
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="thanNhanBaoTin" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('thanNhanDiaChi').valid }">
		                  <label class="col-form-label col-sm-2">
		                    ThanNhanDiaChi
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="thanNhanDiaChi" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ngayCapBangTQGC').valid }">
		                  <label class="col-form-label col-sm-2">
		                    NgayCapBangTQGC
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="ngayCapBangTQGC" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('soBangTQGC').valid }">
		                  <label class="col-form-label col-sm-2">
		                    SoBangTQGC
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="soBangTQGC" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('donViLuuTruId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DonViLuuTruId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="donViLuuTruId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('donViQuanLyId').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DonViQuanLyId
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="donViQuanLyId" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhDonVi').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HySinhDonVi
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hySinhDonVi" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('donVi_B_C_D').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DonVi_B_C_D
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="donVi_B_C_D" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('donVi_E').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DonVi_E
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="donVi_E" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('donVi_F').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DonVi_F
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="donVi_F" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('donVi_G').valid }">
		                  <label class="col-form-label col-sm-2">
		                    DonVi_G
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="donVi_G" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('homThuDonVi').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HomThuDonVi
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="homThuDonVi" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhCapBac').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HySinhCapBac
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hySinhCapBac" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('hySinhChucVu').valid }">
		                  <label class="col-form-label col-sm-2">
		                    HySinhChucVu
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="hySinhChucVu" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('ghiChu').valid }">
		                  <label class="col-form-label col-sm-2">
		                    GhiChu
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="ghiChu" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('active').valid }">
		                  <label class="col-form-label col-sm-2">
		                    Active
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="active" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('created').valid }">
		                  <label class="col-form-label col-sm-2">
		                    Created
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="created" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('creatdedBy').valid }">
		                  <label class="col-form-label col-sm-2">
		                    CreatdedBy
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="creatdedBy" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('updated').valid }">
		                  <label class="col-form-label col-sm-2">
		                    Updated
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="updated" />
		                  </div>
		                 </div>
		          
		  
		  		   
		  			
		                <div class="form-group  row" [ngClass]="{'has-error': submited && !myForm.get('updatedBy').valid }">
		                  <label class="col-form-label col-sm-2">
		                    UpdatedBy
		                  </label>
		                  <div class="col-sm-8">
		                    <input type="text" class="form-control" formControlName="updatedBy" />
		                  </div>
		                 </div>
		          
		  
		  		   

    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSubmit()"><i class="far fa-save"></i> Lưu</button>
  <button type="button" class="btn btn-default" (click)="onClose()"><i class="fas fa-times"></i> Đóng</button>
</div>
