<div class="middle-box text-center loginscreen animated fadeInDown">
  <div style="padding:20px; background-color: #F9F9F9;">
      <h3>HỆ THỐNG QUẢN LÝ THÔNG TIN LIỆT SỸ</h3>
      <br>

      <form class="m-t" role="form" action="index.html">
          <div class="form-group">
              <input type="email" class="form-control" placeholder="Tài khoản" required="">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Mật khẩu" required="">
          </div>
          <button type="submit" class="btn btn-primary block full-width m-b">Đăng nhập</button>


      </form>

  </div>
</div>
