<div class="middle-box text-center loginscreen animated fadeInDown">
  <div style="padding:20px; background-color: #F9F9F9;">
      <h3>HỆ THỐNG QUẢN LÝ THÔNG TIN LIỆT SỸ</h3>
      <br>

      <div class="m-t">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Tài khoản" required="">
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.userName.errors.required">Vui lòng nhập tài khoản.</div>
              </div>
          </div>
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Mật khẩu" required="">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Vui lòng nhập mật khẩu.</div>
                </div>
          </div>
          <button type="submit" class="btn btn-primary block full-width m-b">Đăng nhập</button>


      </div>

  </div>
</div>
