<div class="ibox wrapper wrapper-content animated fadeInRight">
  <div class="ibox-title" style="height: 65px">
    <h5 style="margin: 0">Tìm kiếm hồ sơ liệt sĩ</h5>
    <div class="ibox-tools">
      <button class="btn btn-primary buttons-copy buttons-html5"  style="margin-right: 5px" (click)="onAddNew()" ><span><i class="fas fa-plus"></i>  Thêm mới</span></button>
      <button [disabled]="getSelectedItems().length==0"  class="btn btn-danger buttons-csv buttons-html5"  (click)="onDeleteSelected()"><span><i class="far fa-trash-alt"></i>  Xóa đã chọn</span></button>
    </div>
  </div>

  <div class="ibox-content inspinia-timeline">

    <div class="row search-box">
        <div class="col-sm-2">
            <ng-select [items]="listAllSoQuyen | async"
                bindLabel="text"
                bindValue="id"
                [placeholder]="'Quyển/Tập số'">
            </ng-select>
      </div>
      <div class="col-sm-2">
          <input placeholder="Số thứ tự" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Giới tính" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Họ và tên" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Năm sinh" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-primary" (click)="onSearch()"><i class="fas fa-search"></i> Tìm kiếm</button>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2">
        <input placeholder="Quê tỉnh" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Quê huyện" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Quê xã" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Quê thôn" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2">
        <input placeholder="Đơn vị" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Cấp b,c,d" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Cấp e" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Cấp f" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Cấp QK,QĐ" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2">
        <input type="text"
          class="form-control"
          bsDatepicker formControlName="ngayHiSinh" placeholder="Ngày hy sinh">
      </div>
      <div class="col-sm-2">
        <ng-select [items]="listAllCapBac | async"
            bindLabel="text"
            bindValue="id"
            [placeholder]="'Cấp bậc'">
          </ng-select>
      </div>
      <div class="col-sm-2">
        <ng-select [items]="listAllChucVu | async"
            bindLabel="text"
            bindValue="id"
            [placeholder]="'Chức vụ'">
        </ng-select>
      </div>
      <div class="col-sm-4">
        <input placeholder="Lý do hy sinh" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>

    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2">
        <input placeholder="Tỉnh/Tp hy sinh" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Quận, huyện hy sinh" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Thôn xã phường hy sinh" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Tỉnh/Tp mai táng" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Quận, huyện mai táng" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Thôn xã phường mai táng" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
    </div>

    <div class='tbl-div'>
      <table class="table table-bordered table-hover table-striped dataDiplayTable" style="width:100%">
        <thead>
          <tr >
            <th style="text-align: center; width: 20px;" class='no-sort'>
              <input type="checkbox" [(ngModel)]="checkall" (change)="onCheckAllChange()" >
            </th>

                        <th class='no-sort'>Quyển</th>

                           <th class='no-sort'>STT</th>

                           <th class='no-sort'>Họ tên</th>

                           <th class='no-sort'>Tên</th>

                           <th class='no-sort'>Giới tính</th>

                           <th class='no-sort'>Năm sinh</th>

                           <th class='no-sort'>N.Quán thôn</th>

                           <th class='no-sort'>N.Quán Xã</th>

                           <th class='no-sort'>N.Quán Huyện</th>

                           <th class='no-sort'>N.Quán Tỉnh</th>

                           <th class='no-sort'>Ngày nhập ngũ</th>

                           <th class='no-sort'>Cấp bậc</th>

                           <th class='no-sort'>Chức vụ</th>

                           <th class='no-sort'>Ngày hy sinh</th>

                           <th class='no-sort'>Đơn vị</th>

                           <th class='no-sort'>Trường hợp hy sinh</th>

                           <th class='no-sort'>HySinhThoiKyId</th>

                           <th class='no-sort'>DoiTuongId</th>

                           <th class='no-sort'>HySinhMatTranId</th>

                           <th class='no-sort'>HySinhTranDanh</th>

                           <th class='no-sort'>HySinhDiaDiem</th>

                           <th class='no-sort'>HySinhXaId</th>

                           <th class='no-sort'>HySinhHuyenId</th>

                           <th class='no-sort'>HySinhTinhId</th>

                           <th class='no-sort'>MaiTangXaId</th>

                           <th class='no-sort'>MaiTangHuyenId</th>

                           <th class='no-sort'>MaiTangTinhId</th>

                           <th class='no-sort'>MaiTangBanDo</th>

                           <th class='no-sort'>MaiTangToaDo</th>

                           <th class='no-sort'>MaiTangDiemCaoId</th>

                           <th class='no-sort'>NghiaTrang</th>

                           <th class='no-sort'>ViTriMo</th>

                           <th class='no-sort'>QuyTap</th>

                           <th class='no-sort'>MaiTang</th>

                           <th class='no-sort'>MatThiHai</th>

                           <th class='no-sort'>MatTich</th>

                           <th class='no-sort'>NgayBaoTu</th>

                           <th class='no-sort'>GiayBaoTu</th>

                           <th class='no-sort'>ThanNhanCha</th>

                           <th class='no-sort'>ThanNhanMe</th>

                           <th class='no-sort'>ThanNhanVo</th>

                           <th class='no-sort'>ThanNhanCon</th>

                           <th class='no-sort'>ThanNhanKhac</th>

                           <th class='no-sort'>ThanNhanBaoTin</th>

                           <th class='no-sort'>ThanNhanDiaChi</th>


                           <th class='no-sort'>DonViLuuTruId</th>

                           <th class='no-sort'>DonViQuanLyId</th>

                           <th class='no-sort'>GhiChu</th>




            <th style="width:60px;" class='no-sort'></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list$" [ngClass]="{'selected':item.selected}">
            <td style="text-align: center;">
              <input type="checkbox" [(ngModel)]='item.selected' (change)="onCheckOneChange()">
            </td>


                               <!-- <td>{{item.thuTu}}</td>

                               <td>{{item.hoTen}}</td>

                               <td>{{item.ten}}</td>

                               <td>{{item.tenKhac}}</td>

                               <td>{{item.biDanh}}</td>

                               <td>{{item.gioiTinh}}</td>

                               <td>{{item.namSinh}}</td>

                               <td>{{item.danToc}}</td>

                               <td>{{item.quocTich}}</td>

                               <td>{{item.queThon}}</td>

                               <td>{{item.queXaId}}</td>

                               <td>{{item.queHuyenId}}</td>

                               <td>{{item.queTinhId}}</td>

                               <td>{{item.truQuanThon}}</td>

                               <td>{{item.truQuanXaId}}</td>

                               <td>{{item.truQuanHuyenId}}</td>

                               <td>{{item.truQuanTinhId}}</td>

                               <td>{{item.diaPhuongNhapNgu}}</td>

                               <td>{{item.ngayNhapNgu}}</td>

                               <td>{{item.ngayXuatNgu}}</td>

                               <td>{{item.ngayTaiNgu}}</td>

                               <td>{{item.ngayDiBCK}}</td>

                               <td>{{item.donViHuanLuyen}}</td>

                               <td>{{item.doanVien}}</td>

                               <td>{{item.ngayVaoDoan}}</td>

                               <td>{{item.dangVien}}</td>

                               <td>{{item.ngayVaoDang}}</td>

                               <td>{{item.khenThuong}}</td>

                               <td>{{item.ngayHiSinh}}</td>

                               <td>{{item.hiSinhLyDoID}}</td>

                               <td>{{item.hySinhLyDoChiTiet}}</td>

                               <td>{{item.hySinhThoiKyId}}</td>

                               <td>{{item.doiTuongId}}</td>

                               <td>{{item.hySinhMatTranId}}</td>

                               <td>{{item.hySinhTranDanh}}</td>

                               <td>{{item.hySinhDiaDiem}}</td>

                               <td>{{item.hySinhXaId}}</td>

                               <td>{{item.hySinhHuyenId}}</td>

                               <td>{{item.hySinhTinhId}}</td>

                               <td>{{item.maiTangXaId}}</td>

                               <td>{{item.maiTangHuyenId}}</td>

                               <td>{{item.maiTangTinhId}}</td>

                               <td>{{item.maiTangBanDo}}</td>

                               <td>{{item.maiTangToaDo}}</td>

                               <td>{{item.maiTangDiemCaoId}}</td>

                               <td>{{item.nghiaTrang}}</td>

                               <td>{{item.viTriMo}}</td>

                               <td>{{item.quyTap}}</td>

                               <td>{{item.maiTang}}</td>

                               <td>{{item.matThiHai}}</td>

                               <td>{{item.matTich}}</td>

                               <td>{{item.ngayBaoTu}}</td>

                               <td>{{item.giayBaoTu}}</td>

                               <td>{{item.thanNhanCha}}</td>

                               <td>{{item.thanNhanMe}}</td>

                               <td>{{item.thanNhanVo}}</td>

                               <td>{{item.thanNhanCon}}</td>

                               <td>{{item.thanNhanKhac}}</td>

                               <td>{{item.thanNhanBaoTin}}</td>

                               <td>{{item.thanNhanDiaChi}}</td>

                               <td>{{item.ngayCapBangTQGC}}</td>

                               <td>{{item.soBangTQGC}}</td>

                               <td>{{item.donViLuuTruId}}</td>

                               <td>{{item.donViQuanLyId}}</td>

                               <td>{{item.hySinhDonVi}}</td>

                               <td>{{item.donVi_B_C_D}}</td>

                               <td>{{item.donVi_E}}</td>

                               <td>{{item.donVi_F}}</td>

                               <td>{{item.donVi_G}}</td>

                               <td>{{item.homThuDonVi}}</td>

                               <td>{{item.hySinhCapBac}}</td>

                               <td>{{item.hySinhChucVu}}</td>

                               <td>{{item.ghiChu}}</td>

                               <td>{{item.active}}</td>

                               <td>{{item.created}}</td>

                               <td>{{item.creatdedBy}}</td>

                               <td>{{item.updated}}</td>

                               <td>{{item.updatedBy}}</td>

                               <td>{{item.soQuyenId}}</td>


            <td class="action-col">
                <a class="action-icon" (click)="onEditItem(item)"><i class="fas fa-pen-fancy"></i></a>
                <a class="action-icon" (click)="onDeleteItem(item)"><i class="far fa-trash-alt"></i></a>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>

    <div>
       <app-paging
                [TotalCount]='totalCount'
                [PageIndex]='currentPage'
                [PageSize]='pageSize'
                [DataLength]= 'list$.length'
                (pageSizeChangge)="onPageSizeChange($event)"
                (currentPageChangge)="goToPage($event)"></app-paging>
    </div>

  </div>
</div>
