<div class="ibox wrapper wrapper-content animated fadeInRight">
  <div class="ibox-title" style="height: 65px">
    <h3 style="margin: 0" class='page-title'>Tìm kiếm hồ sơ liệt sĩ</h3>
    <div class="ibox-tools">
      <button class="btn btn-sm btn-primary buttons-copy buttons-html5"  style="margin-right: 5px" (click)="onAddNew()" ><span><i class="fa fa-plus"></i>  Thêm mới</span></button>
      <button [disabled]="getSelectedItems().length==0"  class="btn btn-danger btn-sm buttons-csv buttons-html5"  (click)="onDeleteSelected()"><span><i class="fa fa-trash"></i>  Xóa đã chọn</span></button>
    </div>
  </div>

  <div class="ibox-content inspinia-timeline">

    <div class="row search-box">
        <div class="col-sm-2">
            <ng-select [items]="listAllSoQuyen | async"
                bindLabel="text"
                bindValue="id"
                [placeholder]="'Quyển/Tập số'"
                [(ngModel)] = "searchCodition.soquyenId">
            </ng-select>
      </div>
      <div class="col-sm-2">
          <input placeholder="Số thứ tự" [(ngModel)] = "searchCodition.thutu" type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
          <ng-select [items]="listGender"
                                bindLabel="text"
                                bindValue="id"
                                [placeholder]="'Giới tính'"
                                [(ngModel)] = "searchCodition.gioiTinh">
            </ng-select>
      </div>
      <div class="col-sm-2">
        <input placeholder="Họ và tên"  [(ngModel)] = "searchCodition.hoTen" type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Năm sinh" [(ngModel)] = "searchCodition.namSinh" type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-primary" (click)="onSearch()"><i class="fa fa-search"></i> Tìm kiếm</button>
            <button type="button" class="btn btn-sm btn-default" (click)="onExport()"><i class="fa fa-file-excel-o"></i>Xuất file</button>

      </div>

    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2">
          <ng-select [items]="listAllTinh "
            bindLabel="text"
            bindValue="id"
            placeholder="N.Quán tỉnh"
            (change)="onChangeQueTinh($event)"
            [(ngModel)] = "searchCodition.queTinhId"
            >
        </ng-select>
      </div>
      <div class="col-sm-2">
          <ng-select [items]="listQueHuyen "
            bindLabel="text"
            bindValue="id"
            placeholder="N.Quán huyện"
            (change)="onChangeQueHuyen($event)"
            [(ngModel)] = "searchCodition.queHuyenId"

            >
        </ng-select>
      </div>
      <div class="col-sm-2">
          <ng-select [items]="listQueXa "
              bindLabel="text"
              bindValue="id"
              placeholder="N.Quán xã"
              [(ngModel)] = "searchCodition.queXaId"

              >
          </ng-select>
      </div>
      <div class="col-sm-2">
        <input placeholder="N.Quán thôn" [(ngModel)] = "searchCodition.queThon" type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2">
        <input placeholder="Đơn vị" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Cấp b,c,d" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Cấp e" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Cấp f" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-2">
        <input placeholder="Cấp QK,QĐ" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2">
        <input type="text"
          class="form-control"
          bsDatepicker placeholder="Ngày hy sinh" [(ngModel)] = "searchCodition.ngayHiSinh">
      </div>
      <div class="col-sm-2">
        <ng-select [items]="listAllCapBac | async"
            bindLabel="text"
            bindValue="id"
            [placeholder]="'Cấp bậc'" [(ngModel)] = "searchCodition.hySinhCapBac">
          </ng-select>
      </div>
      <div class="col-sm-2">
        <ng-select [items]="listAllChucVu | async"
            bindLabel="text"
            bindValue="id"
            [placeholder]="'Chức vụ'" [(ngModel)] = "searchCodition.hySinhChucVu">
        </ng-select>
      </div>
      <div class="col-sm-4">
        <input placeholder="Lý do hy sinh" [(ngModel)] = "searchCodition.hySinhLyDoChiTiet" type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>

    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-2">
          <ng-select [items]="listAllTinh "
            bindLabel="text"
            bindValue="id"
            placeholder="Tỉnh/Tp hy sinh"
            (change)="onChangeTinhHySinh($event)"
            (clear)="onClearTinhHySinh()"
            [(ngModel)] = "searchCodition.HySinhTinhId"
            >
          </ng-select>
      </div>
      <div class="col-sm-2">
          <ng-select [items]="listHuyenHySinh "
              bindLabel="text"
              bindValue="id"
              placeholder="Quận, huyện hy sinh"
              (change)="onChangeHuyenHySinh($event)"
              [(ngModel)] = "searchCodition.HySinhHuyenId">
            </ng-select>
      </div>
      <div class="col-sm-2">
          <ng-select [items]="listXaHySinh "
            bindLabel="text"
            bindValue="id"
            placeholder="Thôn xã phường hy sinh"
            [(ngModel)] = "searchCodition.HySinhXaId"
            >
          </ng-select>
      </div>
      <div class="col-sm-2">
          <ng-select [items]="listAllTinh "
              bindLabel="text"
              bindValue="id"
              placeholder="Tỉnh/Tp mai táng"
              (change)="onChangeTinhMaiTang($event)"
              [(ngModel)] = "searchCodition.MaiTangTinhId">
          </ng-select>
      </div>
      <div class="col-sm-2">
          <ng-select [items]="listHuyenMaiTang "
            bindLabel="text"
            bindValue="id"
            placeholder="Quận, huyện mai táng"
            (change)="onChangeHuyenMaiTang($event)"
            [(ngModel)] = "searchCodition.MaiTangHuyenId">
          </ng-select>
      </div>
      <div class="col-sm-2">
          <ng-select [items]="listXaMaiTang "
            bindLabel="text"
            bindValue="id"
            placeholder="Thôn xã phường mai táng"
            [(ngModel)] = "searchCodition.MaiTangXaId"
            >
        </ng-select>
      </div>
    </div>

    <div class='tbl-div' style="overflow: auto">
      <table class="table table-bordered table-hover table-striped dataDiplayTable" style="width:100%; min-width: 3000px;">
        <thead>
          <tr >
            <th style="text-align: center; width: 20px;" class='no-sort' rowspan="2">
              <input type="checkbox" [(ngModel)]="checkall" (change)="onCheckAllChange()" >
            </th>

                          <th class='no-sort' rowspan="2" style="width: 90px;">Quyển</th>

                           <th class='no-sort'  rowspan="2" style="width: 30px;">STT</th>

                           <th class='no-sort'  rowspan="2" style="width: 180px;">Họ tên</th>

                           <!-- <th class='no-sort'  rowspan="2">Tên</th> -->

                           <th class='no-sort'  rowspan="2" style="width: 20px;">Giới tính</th>

                           <th class='no-sort'  rowspan="2" style="width: 20px;">Năm sinh</th>

                           <th class='no-sort'  rowspan="1" colspan="4">Nguyên quán</th>



                           <th class='no-sort' rowspan="2" style="width: 90px;">Ngày nhập ngũ</th>

                           <th class='no-sort' rowspan="2" style="width: 100px;">Cấp bậc</th>

                           <th class='no-sort' rowspan="2" style="width: 100px;">Chức vụ</th>

                           <th class='no-sort' rowspan="2" style="width: 100px;">Ngày hy sinh</th>

                           <th class='no-sort'rowspan="2" style="width: 250px;">Đơn vị</th>

                           <th class='no-sort' rowspan="2" style="width: 250px;">Trường hợp hy sinh</th>

                           <th class='no-sort' rowspan="2" style="width: 250px;">Trận đánh hy sinh</th>

                           <th class='no-sort' colspan="3" style="width: 20px;"> Hy sinh </th>

                           <th class='no-sort' colspan="6" style="width: 20px;">Mai táng</th>

                           <th class='no-sort' colspan="3" style="width: 20px;">Quy tập</th>

                           <th class='no-sort' colspan="6" style="width: 20px;">Thân nhân</th>

                          <th style="width:60px;" class='no-sort' rowspan="2"></th>
          </tr>
          <tr>
              <th class='no-sort' style="width: 200px;">Thôn</th>
              <th class='no-sort' style="width: 200px;">Xã</th>
              <th class='no-sort' style="width: 200px;">Huyện</th>
              <th class='no-sort' style="width: 200px;">Tỉnh</th>

              <th class='no-sort' style="width: 200px;">Thôn, xã</th>
              <th class='no-sort' style="width: 200px;">Quận huyện</th>
              <th class='no-sort' style="width: 200px;">Tỉnh</th>

              <th class='no-sort' style="width: 200px;">Tình trạng</th>

              <th class='no-sort' style="width: 200px;">Xã</th>

              <th class='no-sort' style="width: 200px;">Huyện</th>

              <th class='no-sort' style="width: 200px;">Tỉnh</th>

              <th class='no-sort'>Điểm cao</th>

              <th class='no-sort'>Tọa độ</th>

              <th class='no-sort'>Tình trạng</th>

              <th class='no-sort'>Nghĩa trang</th>

              <th class='no-sort'>Vị trí mộ</th>

              <th class='no-sort'>Bố</th>

              <th class='no-sort'>Mẹ</th>

              <th class='no-sort'>Vợ/chồng</th>

              <th class='no-sort'>Con</th>

              <th class='no-sort'>Khác</th>

              <th class='no-sort'>Địa chỉ thân nhân</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list$" [ngClass]="{'selected':item.selected}">
            <td style="text-align: center;">
              <input type="checkbox" [(ngModel)]='item.selected' (change)="onCheckOneChange()">
            </td>
            <td>{{item.soQuyenName}}</td>
            <td>{{item.thuTu}}</td>
            <td>{{item.hoTen}}</td>
            <!-- <td>{{item.ten}}</td> -->
            <td>{{item.gioiTinh == 1 ? 'Nam' : 'Nữ'}}</td>
            <td>{{item.namSinh}}</td>
            <td>{{item.queThon}}</td>
            <td>{{item.queXaName}}</td>
            <td>{{item.queHuyenName}}</td>
            <td>{{item.queTinhName }}</td>
            <td>{{item.ngayNhapNgu | date: 'dd/MM/yyyy'}}</td>
            <td>{{item.capBacName}}</td>
            <td>{{item.chucVuName}}</td>
            <td>{{item.ngayHiSinh | date: 'dd/MM/yyyy'}}</td>

            <td>{{item.tenDonVi}}</td>
            <td>{{item.hySinhLyDoChiTiet}}</td>
            <td>{{item.hySinhTranDanh}}</td>
            <td>{{item.xaHySinhName}}</td>
            <td>{{item.huyenHySinhName}}</td>
            <td>{{item.tinhHySinhName}}</td>
            <td>{{item.maiTang ? 'Có' : 'Không'}}</td>
            <td>{{item.maiTangXaName}}</td>
            <td>{{item.maiTangHuyenName}}</td>
            <td>{{item.maiTangTinhName}}</td>
            <td>{{item.diemCaoName}}</td>
            <td>{{item.maiTangToaDo}}</td>
            <td>{{item.quyTap? 'Có' : 'Không'}}</td>
            <td>{{item.nghiaTrang}}</td>
            <td>{{item.viTriMo}}</td>



            <td>{{item.thanNhanCha}}</td>
            <td>{{item.thanNhanMe}}</td>
            <td>{{item.thanNhanVo}}</td>
            <td>{{item.thanNhanCon}}</td>
            <td>{{item.thanNhanKhac}}</td>
            <td>{{item.thanNhanDiaChi}}</td>
            <td class="action-col">
              <a class="action-icon" (click)="onEditItem(item)"><i class="fa fa-pencil-square-o"></i></a>
              <a class="action-icon" (click)="onDeleteItem(item)"><i class="fa fa-trash"></i></a>
           </td>

          </tr>
        </tbody>
      </table>
    </div>

    <div>
       <app-paging
                [TotalCount]='totalCount'
                [PageIndex]='currentPage'
                [PageSize]='pageSize'
                [DataLength]= 'list$.length'
                (pageSizeChangge)="onPageSizeChange($event)"
                (currentPageChangge)="goToPage($event)"></app-paging>
    </div>

  </div>
</div>
<swal
  #deleteItemSwal
  text="Bạn thực sự muốn xóa?"
  type="question"
  [showCancelButton]="true"
  >
</swal>
