<ul class="nav navbar-nav mr-auto">
  <li class="active">
      <a aria-expanded="false" role="button" href="layouts.html"> Back to main Layout page</a>
  </li>
  <li class="dropdown">
      <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Quản trị</a>
      <ul role="menu" class="dropdown-menu">
          <li><a routerLink = '/capbac'>Cấp Bậc</a></li>
          <li><a routerLink = '/thoiky'>Thời kỳ</a></li>
          <li><a routerLink = '/mattran'>Mặt trận</a></li>
          <li><a routerLink = '/doituong'>Đối tượng</a></li>
          <li><a routerLink = '/loaidoituong'>Loại đối tượng</a></li>
          <li><a routerLink = '/diemcao'>Điểm cao</a></li>
          <li><a routerLink = '/donvi'>Đơn vị</a></li>

      </ul>
  </li>
  <li class="dropdown">
      <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item</a>
      <ul role="menu" class="dropdown-menu">
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
      </ul>
  </li>
  <li class="dropdown">
      <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item</a>
      <ul role="menu" class="dropdown-menu">
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
      </ul>
  </li>
  <li class="dropdown">
      <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item</a>
      <ul role="menu" class="dropdown-menu">
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
      </ul>
  </li>

</ul>
