<ul class="nav navbar-nav mr-auto">
  <li class="active">
      <a aria-expanded="false" role="button" href="layouts.html"> Back to main Layout page</a>
  </li>
  <li class="dropdown">
      <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-clipboard-list"></i> Quản trị</a>
      <ul role="menu" class="dropdown-menu">
          <li><a routerLink = '/capbac'><i class="fas fa-list-ul"></i> Cấp Bậc</a></li>
          <li><a routerLink = '/thoiky'><i class="far fa-clock"></i> Thời kỳ</a></li>
          <li><a routerLink = '/mattran'><i class="fas fa-map-marker"></i> Mặt trận</a></li>
          <li><a routerLink = '/doituong' > <i class="fas fa-user-tie"></i> Đối tượng</a></li>
          <li><a routerLink = '/loaidoituong'><i class="fas fa-id-card"></i> Loại đối tượng</a></li>
          <li><a routerLink = '/diemcao'><i class="fas fa-book"></i> Điểm cao</a></li>
          <li><a routerLink = '/donvi'><i class="far fa-file-alt"></i> Đơn vị</a></li>
          <li><a routerLink = '/tinh'><i class="fas fa-synagogue"></i> Tỉnh</a></li>
          <li><a routerLink = '/soquyen'><i class="fas fa-atlas"></i> Số quyển</a></li>
          <li><a routerLink = '/lietsi'><i class="fas fa-users"></i> Liệt sĩ</a></li>
          <li><a routerLink = '/phieucungcap'><i class="fas fa-users"></i> Phiếu cung cấp</a></li>


      </ul>
  </li>
  <li class="dropdown">
      <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cogs"></i>  Phân quyền</a>
      <ul role="menu" class="dropdown-menu">
          <li><a routerLink = '/role'><i class="fas fa-cog"></i> Role</a></li>
          <li><a routerLink='/user_role' ><i class="fas fa-users-cog"></i> User role</a></li>
      </ul>
  </li>


</ul>
