<div class="ibox wrapper wrapper-content animated fadeInRight">
  <div class="ibox-title">
    <h5>ChucVu</h5>
    <div class="ibox-tools">

    </div>
  </div>

  <div class="ibox-content inspinia-timeline">

    <div class="row search-box">
        <div class="col-sm-3">
            <input placeholder="Tên" #SearchName type="text" class="form-control form-control-sm" (keyup.enter)="onEnter()">
      </div>
      <div class="col-sm-3">
            <button type="button" class="btn btn-sm btn-primary" (click)="onSearch()"><i class="fas fa-search"></i> Tìm kiếm</button>
      </div>
            <div class="html5buttons col-sm-6">
                <div class="html5buttons">
                  <button class="btn btn-primary buttons-copy buttons-html5"  (click)="onAddNew()" ><span><i class="fas fa-plus"></i>  Thêm mới</span></button>
                  <button [disabled]="getSelectedItems().length==0"  class="btn btn-danger buttons-csv buttons-html5"  (click)="onDeleteSelected()"><span><i class="far fa-trash-alt"></i>  Xóa đã chọn</span></button>
              </div>
          </div>
    </div>

    <div class='tbl-div'>
      <table class="table table-bordered table-hover table-striped dataDiplayTable" style="width:100%">
        <thead>
          <tr >
            <th style="text-align: center; width: 20px;" class='no-sort'>
              <input type="checkbox" [(ngModel)]="checkall" (change)="onCheckAllChange()" >
            </th>

                           <th class='no-sort'>ChucVuId</th>

                           <th class='no-sort'>Code</th>

                           <th class='no-sort'>Name</th>

            <th style="width:60px;" class='no-sort'></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list$" [ngClass]="{'selected':item.selected}">
            <td style="text-align: center;">
              <input type="checkbox" [(ngModel)]='item.selected' (change)="onCheckOneChange()">
            </td>

                               <td>{{item.chucVuId}}</td>

                               <td>{{item.code}}</td>

                               <td>{{item.name}}</td>


            <td class="action-col">
                <a class="action-icon" (click)="onEditItem(item)"><i class="fas fa-pen-fancy"></i></a>
                <a class="action-icon" (click)="onDeleteItem(item)"><i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
       <app-paging
                [TotalCount]='totalCount'
                [PageIndex]='currentPage'
                [PageSize]='pageSize'
                [DataLength]= 'list$.length'
                (pageSizeChangge)="onPageSizeChange($event)"
                (currentPageChangge)="goToPage($event)"></app-paging>
    </div>

  </div>
</div>
